<%= link_to 'New Event', new_event_path, class: 'button' %>

<ul id="events">
  <% @events.each do |event| %>
    <li>
      <article class="event">
        <header>
          <%= image_for(event) %>
          <h2>
            <%= link_to(event.name, event) %>
            <%= link_to 'Edit', edit_event_path(event), class: 'button' %>
            <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete #{event.name}?" }, class: 'button' %>
          </h2>
          <h3><%= pluralize(event.spots_left, 'spot') %> available</h3>
        </header>
        <p>
          <%= truncate(event.description, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>When</th>
            <td><%= event.starts_at %></td>
          </tr>
          <tr>
            <th>Where</th>
            <td><%= event.location %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= format_price(event) %></td>
          </tr>
        </table>
      </article>
    </li>
  <% end %>
</ul>

<%= link_to 'New Event', new_event_path, class: 'button' %>
